<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet', href='/css/bootstrap.css'/>
    <link rel='stylesheet', href='/css/bootstrap.min.css'/>
    <style>
    	.font-sm: {
    		font-size:13px;
    	}
    	.btn-action {
    background-color: #f6e312;
    background-image: -moz-linear-gradient(center top , #f6e312 0%, #f9c80d 100%);
    border-color: #e9ac1a;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    line-height: 32px;
    margin: 30px 0 0;
    overflow: visible;
    padding: 0 15px;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
    </style>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'/>
    <script src='./js/bootstrap.js'></script>
     <script src='./js/bootstrap.min.js'></script>
     <link rel="icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
  </head>
  <body style="padding:0px">
  	<div class="login-header container-fluid" style="background-color:#f4f4f4;padding:10px;">
  		<div class="logo col-md-3" style="padding-left:30px">
  			<img src="/images/signlogo.png" alt"logo"/>
  		</div>
  		<!-- <div class="logo col-md-2" style="vertical-align:middle;margin-top:17px">
  			 <span class="alert alert-danger" role="alert"></span>
  		</div> -->
  		
  		
  		<div class="col-md-7">
  			<form name="frmLogin" method="post" class="form-signin container-fluid">
  				<div class="col-md-4" style="padding:0px !important">
	    			<label class="font-sm" for="inputEmail">Email address</label>
	    			<input name="inputEmail" type="email" id="inputEmail"  autofocus>
	    		</div>
	    		<div class="col-md-4" style="padding:0px !important">
	    			<label class="font-sm" for="inputPassword" >Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	    			<input name="inputPassword" type="password" id="inputPassword" required>
	    		</div>
	    		<div class="col-md-4" style="padding:0px !important">
	    			<input name="btnSignIn" class="btn btn-primary" style="color:#cccccc;margin-top:10px" value="Sign in" type="submit" />
	    		</div>
	  		</form>
	  	</div>
	  	<span class="col-md-2" style="vertical-align: middle; margin-top: 15px; font-weight:bold; color: red">
  			<%=errMsg%>
  		</span>
	</div>

  	<div class="login-container">
	  	
	  	<div class="page-header">
		  <h3 style="text-align:center">Be great at what you do.</h3>
		</div>
	  	<div class="container-fluid">
	  		<div class="col-md-6" style="padding-left:5%;padding-right:5%">
	  			<div class="container-fluid">
	  				<div class="col-md-4">
	  					<img src="/images/dp1.png" alt="" />
	  				</div>
	  				<div class="col-md-4" style="margin-left:-15px">
	  					<img src="/images/dp2.png" alt="" />
	  				</div>
	  				<div class="col-md-4">
	  					<img src="/images/dp3.png" alt="" style="margin-left:-16px" />
	  				</div>
	  			</div>
	  			<div class="container-fluid">
	  				<div class="col-md-4">
	  					<img src="/images/dp4.png" alt="" />
	  				</div>
	  				<div class="col-md-4">
	  					<img src="/images/dp5.png" alt="" style="margin-left:-15px" />
	  				</div>
	  				<div class="col-md-4">
	  					<img src="/images/dp6.png" alt="" style="margin-left:-30px" />
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-md-6">
	  			<label style="font-weight:bold;font-size:14px">Get started.  Its free.</label><br/>
	  			<label style="font-weight:normal;font-size:12px">Registration takes less than 2 minutes.</label>
	  			<form name="frmRegister" id="frmRegister" method="post">
	  			<div class="container-fluid">
	  				<div class="col-md-6" style="padding:5px">
	  					<input type="text" name="txtFirstName" id="txtFirstName" class="form-control" placeholder="First Name" value="" required autofocus>
	  				</div>
	  				<div class="col-md-6" style="padding:5px">
	  					<input type="text" name="txtLastName" id="txtLastName" class="form-control" placeholder="Last Name" value="" required autofocus>
	  				</div>
	  				<div class="col-md-12" style="padding:5px">
	  					<input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="Email Address" value="" required autofocus>
	  				</div>
	  				<div class="col-md-12" style="padding:5px">
	  					<input type="password" name="txtPassword" id="txtPassword" class="form-control" value="" placeholder="Password (6 or more characters.)" required autofocus>
	  				</div>
	  				<div class="col-md-12" style="padding:5px">
	  					By clicking Join Now, you agree to LinkedIn's User Agreement, Privacy Policy and Cookie Policy.
	  				</div>
	  				<div class="col-md-12">
	  					<input type="submit" name="btnRegister" id="btnRegister" class="btn btn-primary btn-action" style="width:100%" value="Join Now"/>
	  				</div>
	  			</div>
	  			</form>
	  		</div>
	  		
	  	</div>
	  	
	</div>
    <div class="login-footer"></div>
  </body>
</html>